@using System.Text
@namespace Poll.Components.Components

<script async src="https://imgbb.com/upload.js" data-palette="clear" data-auto-insert="viewer-links"></script>

<div>TEST</div>

@code{

    

}