@using Poll.Services

@if (IsPrerendering)
{
    <div class="loading-screen">Chargement...</div>
}
else
{
    <div class="page">
        <main>
            <div class="top-row px-4">
                <Microsoft.AspNetCore.Components.Sections.SectionOutlet SectionName="top-bar" />
            </div>

            <article class="content px-4">
                @Body
            </article>
        
            <Poll.Components.Components.Latency />
        </main>
    </div>
}

<div id="blazor-error-ui">
    Une erreur est survenue.
    <a href="" class="reload">Recharger</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    [Parameter]
    public RenderFragment? Body { get; set; }

    public bool IsPrerendering { get; set; }
    
    [Inject]
    public HttpUtils? HttpUtils { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (HttpUtils is null)
        {
            return;
        }
        
        IsPrerendering = await HttpUtils.IsPreRendering();
        await base.OnInitializedAsync();
    }

}