@using Poll.Services
@using Poll.DAL.Entities
@inherits Poll.Components.Components.BaseRefreshableComponent
@inject HttpUtils HttpUtils
@inject ILogger<MainLayout> LayoutLogger
@inject PlayerService PlayerService
@implements IDisposable

<div class="page">
    <main>
        <div class="top-row px-4">
            @if (CurrentGame is not null && CurrentGame.State != GameState.InPreparation)
            {
                <span>@CurrentGame.Name</span>
            }

            <div class="text-right">
                @if (!string.IsNullOrEmpty(playerName))
                {
                    <a href="/create-player"><strong>@playerName</strong> <i class="fa fa-pencil ml-3"></i></a>
                }
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    [Parameter]
    public RenderFragment? Body { get; set; }
    
    string? playerName = null;
    CancellationTokenSource cts = new CancellationTokenSource();
    SemaphoreSlim semaphore = new SemaphoreSlim(0);

    protected override async Task OnInitializedAsync()
    {
        if (await HttpUtils.IsPreRendering())
        {
            Logger.LogInformation("Skipped: Prerendering");
            return;
        }
        
        PlayerService.SubscribeNameChanged(NameChanged);

        await LoadPlayer();
        
        _ = Loop();

        await base.OnInitializedAsync();
    }


    private async Task LoadPlayer()
    {
        if (PlayerService is null)
        {
            Logger.LogInformation("PlayerService was null");
            return;
        }

        Logger.LogInformation("Loading player");
        var player = await PlayerService.GetPlayer();
        playerName = player?.Name;
        await InvokeAsync(StateHasChanged);
    }
    
    private async Task Loop()
    {
        while (!cts.Token.IsCancellationRequested)
        {
            await semaphore.WaitAsync();

            await LoadPlayer();
        }
    }
    
    public void Dispose()
    {
        PlayerService.UnsubscribeNameChanged(NameChanged);
        cts.Cancel();
    }
    
    public void NameChanged()
    {
        Logger.LogInformation("Named Changed");
        semaphore.Release();
    }

    protected override ILogger Logger => LayoutLogger;
}