.question-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(10rem, 1fr); /* For equal height rows */
    gap: 1rem;
    margin: auto;
    width: 100%;

}

.question {
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 130%;
}

.selected {
    border: 4px solid black;
    cursor: default;
}

.not-selected {
    opacity: 0.3;
    cursor: default;
}

.question-inner {

}

.question:nth-child(4n+0) {
    background-color: rgb(182, 215, 168);
}

.question:nth-child(4n+1) {
    background-color: rgb(201, 218, 248);
}

.question:nth-child(4n+2) {
    background-color: rgb(179 153 234);
}

.question:nth-child(4n+3) {
    background-color: rgb(255, 229, 153);
}

.question.valid {
    border: 4px solid green;
}
.question.invalid {
    opacity: 0.3;
}

.answer-container {
    width: 100%;
    border: 1px solid black;
    padding: 1rem;
    min-height: 5rem;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-failure {
}

.answer-success {

}

.score-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
}

.score-row:nth-child(odd) {
    background: rgba(0, 0, 0, 0.07);
}

.player-names {

}

.game-end{
    text-align: center;
    font-size: 3rem;
}

.qrcode-container{
    margin:auto;
    max-height: 40vh;
    text-align: center;
}

::deep .qrcode-container svg{
    max-height: 40vh;
    max-width: 100%;
}

.image-container{
    text-align: center;
    margin-bottom: 1rem;
}

.image-details{
    max-height: 30vh;
    max-width: 100%;
}

.footer{
    position: fixed;
    text-align: right;
    bottom: 0.3rem;
    left: 0.3rem;
    right: 0.3rem;
    height: 1rem;
}

.footer small{
    font-size: 11px;
}

.waiting-image-container{
text-align: center;
}

.waiting-image{
    max-width:100%;
}

.question-small{
    font-size: 10px;
}

.question-answer-player{
    font-size: 10px;
}